.cardsContainer{
    display:grid;
  grid-template-columns: repeat(5, 4fr);
  justify-content: space-around;
  justify-items: center;
  padding: 10px 10px ;
  margin: 10px 10px 10px 10px;
}

.error{
  
  justify-content: center;
  background-color: rgba(255, 0, 0, 0.534);
  margin: 10px 10px;
  padding: 5px 10px;
  border-radius: 5px;
  width: 650px;
  font-size: 0.80em;
}